body {
    font-family: sans serif;
    background: #cce7f1;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#search-box,
#search-button {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    cursor: grab;
}

#search-button:hover {
    background-color: wheat;
    font-weight: 800;
}

.second {
    font-size: 1em;
    font-weight: 600;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    top: 200px;
}
