body {
    font-family: sans serif;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    text-align: center;
    justify-content: center;
}

#search-box, #search-button {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    cursor: grab;
}

#search-button:hover {
    background-color: wheat;
    font-weight: 800;
}

.second {
    font-size: 1em;
    font-weight: 600;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    top: 200px;
    
}  

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

header {
    position: relative;
    top: 200px;
    font-style: italic;
    color: #3399ff;
    text-shadow: 2px 2px #e6ffff;
}

.first {
    padding: 20px;
}

.city {
    font-weight: 700;
    font-style: italic;
}